{
  "openapi": "3.1.0",
  "info": {
    "title": "PropRaven API",
    "version": "1.2.0",
    "description": "National property intelligence API providing access to 191M+ US parcels (110M+ mapped) with ownership, valuation, permit, deed, risk, and market data.\n\n**Errors.** Every error is an RFC 7807 problem (`application/problem+json`, schema `Problem`) with a stable `code`. Bad parameters are a 400 `invalid_parameter` naming each one in `errors`; an unknown endpoint is a 404 `not_found`; an unsupported method is a 405 with an `Allow` header; a query that runs out of time is a 504 `query_timeout` with `Retry-After`. Error bodies never contain database text.\n\n**Rate limits.** Authenticated responses carry `X-RateLimit-Limit` / `-Remaining` / `-Reset`, all describing the window that will refuse you first. Anonymous calls (key-optional endpoints) are limited to 100 a day and 60 a minute per IP; a key is limited by its plan.",
    "contact": {
      "name": "PropRaven Support",
      "url": "https://propraven.com/docs",
      "email": "support@propraven.com"
    },
    "license": {
      "name": "Commercial",
      "url": "https://propraven.com/terms#data-license"
    }
  },
  "servers": [
    {
      "url": "https://propraven.com",
      "description": "Production. Every path starts with /api/v1. (https://api.propraven.com serves the same API.)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/parcels/{id}": {
      "get": {
        "operationId": "getParcel",
        "summary": "Get parcel by ID",
        "description": "Retrieve a single parcel by its composite ID (county_fips:parcel_id).",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Composite parcel identifier in the format county_fips:parcel_id (e.g., 37:119:12104406).",
            "schema": {
              "type": "string",
              "example": "37:119:12104406"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parcel found.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Parcel"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "parcels",
        "x-sdk-method": "get"
      }
    },
    "/api/v1/parcels/{id}/owner": {
      "get": {
        "operationId": "getParcelOwner",
        "summary": "Get parcel owner details and portfolio",
        "description": "Retrieve the owner of a parcel along with their portfolio summary and list of properties.",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Composite parcel identifier (county_fips:parcel_id).",
            "schema": {
              "type": "string",
              "example": "37:119:12104406"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owner details returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "owner_name": {
                      "type": "string",
                      "example": "SMITH JOHN A"
                    },
                    "entity_type": {
                      "type": "string",
                      "enum": [
                        "individual",
                        "corporation",
                        "llc",
                        "trust",
                        "government",
                        "other"
                      ],
                      "example": "individual"
                    },
                    "mailing_address": {
                      "type": "string",
                      "example": "123 Main St, Raleigh, NC 27601"
                    },
                    "portfolio_summary": {
                      "type": "object",
                      "properties": {
                        "property_count": {
                          "type": "integer",
                          "example": 5
                        },
                        "total_assessed_value": {
                          "type": "number",
                          "example": 1250000
                        },
                        "states": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "NC",
                            "SC"
                          ]
                        }
                      }
                    },
                    "properties": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Parcel"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "parcels",
        "x-sdk-method": "owner"
      }
    },
    "/api/v1/parcels/{id}/permits": {
      "get": {
        "operationId": "getParcelPermits",
        "summary": "Get parcel permits",
        "description": "Retrieve building and construction permits associated with a parcel.",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Composite parcel identifier (county_fips:parcel_id).",
            "schema": {
              "type": "string",
              "example": "37:119:12104406"
            }
          },
          {
            "name": "shape",
            "in": "query",
            "required": false,
            "description": "Body shape. Omit for the default bare array of up to 100 permit rows (newest first); `envelope` returns `{ data, permit_count, permit_count_basis, truncated, row_cap }`, where `permit_count` is the parcel's true count when `permit_count_basis` is `exact` and the size of the capped window (a floor) when `capped`, and `truncated` is true when the parcel has more permits than `data` carries.",
            "schema": {
              "type": "string",
              "enum": [
                "envelope"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permits returned. By default the body is a BARE ARRAY of permit rows, at most 100 (newest issued_date first) — a parcel with more permits is silently cut at 100 on this shape. With `?shape=envelope` the body is `{ data, permit_count, permit_count_basis, truncated, row_cap }` so the cap is reported.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Permit"
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "data",
                        "permit_count",
                        "permit_count_basis",
                        "truncated",
                        "row_cap"
                      ],
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Permit"
                          }
                        },
                        "permit_count": {
                          "type": "integer",
                          "description": "The parcel's permit count (exact) or the capped window size (a floor) — see permit_count_basis."
                        },
                        "permit_count_basis": {
                          "type": "string",
                          "enum": [
                            "exact",
                            "capped"
                          ]
                        },
                        "truncated": {
                          "type": "boolean",
                          "description": "True when the parcel has more permits than `data` carries."
                        },
                        "row_cap": {
                          "type": "integer",
                          "description": "The row cap `data` is bounded by (100)."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "parcels",
        "x-sdk-method": "permits"
      }
    },
    "/api/v1/parcels/{id}/deeds": {
      "get": {
        "operationId": "getParcelDeeds",
        "summary": "Get parcel deed history",
        "description": "Retrieve deed transactions and transfer history for a parcel.",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Composite parcel identifier (county_fips:parcel_id).",
            "schema": {
              "type": "string",
              "example": "37:119:12104406"
            }
          },
          {
            "name": "shape",
            "in": "query",
            "required": false,
            "description": "Body shape. Omit for the default bare array of deed rows; `envelope` returns the typed envelope with a `status` header and the frozen `known_deed_count`.",
            "schema": {
              "type": "string",
              "enum": [
                "envelope"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deeds returned. By default the body is a BARE ARRAY of deed rows (empty when the parcel's only deed signal is the frozen parcels_serving.deed_count — a count is never turned into a null-filled event). With `?shape=envelope` the body is the typed envelope `{ data, status, known_deed_count, known_deed_count_basis, note? }`, where `status` is one of per_deed | rollup_events | summary_only | none.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "description": "Default shape (no `shape` parameter): the deed rows.",
                      "items": {
                        "$ref": "#/components/schemas/Deed"
                      }
                    },
                    {
                      "type": "object",
                      "description": "Returned only when `shape=envelope`.",
                      "required": [
                        "data",
                        "status",
                        "known_deed_count",
                        "known_deed_count_basis"
                      ],
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Deed"
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "per_deed",
                            "rollup_events",
                            "summary_only",
                            "none"
                          ]
                        },
                        "known_deed_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "parcels_serving.deed_count when the parcel carries one; NOT a count of the returned rows."
                        },
                        "known_deed_count_basis": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Where known_deed_count comes from: the frozen 2026-04 weld, or the identity gate's reason when the parcel_id collides across counties — parcel_id_collides_bare_id_joined (rollup withheld, count null), parcel_id_collides_unmeasured (served with the doubt visible), collision_check_unavailable (withheld under DQ_IDENTITY_GATE_FAIL_CLOSED=1)."
                        },
                        "note": {
                          "type": "string"
                        },
                        "join_key_basis": {
                          "type": "string",
                          "enum": [
                            "state_county_parcel_id",
                            "parcel_id_collides",
                            "unchecked"
                          ],
                          "description": "The identity probe's verdict on the rollup (present on rollup-derived envelopes; absent on the county-scoped per_deed branch)."
                        },
                        "rollup_probe": {
                          "type": "string",
                          "enum": [
                            "deeds_relation"
                          ],
                          "description": "Present when the rollup was withheld on the deeds-relation probe: the parcel_id is unique in parcels_serving (join_key_basis state_county_parcel_id) but parcel_deeds carries rows for it under another (state, county), so the frozen rollup was welded on the bare id from another parcel's deeds."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "parcels",
        "x-sdk-method": "deeds"
      }
    },
    "/api/v1/parcels/{id}/risks": {
      "get": {
        "operationId": "getParcelRisks",
        "summary": "Get parcel risk assessment",
        "description": "Retrieve flood, wildfire, air quality, and crime risk data for a parcel.",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Composite parcel identifier (county_fips:parcel_id).",
            "schema": {
              "type": "string",
              "example": "37:119:12104406"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Risk assessment returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskAssessment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "parcels",
        "x-sdk-method": "risks"
      }
    },
    "/api/v1/search": {
      "post": {
        "operationId": "searchParcels",
        "summary": "Search parcels",
        "description": "Search parcels with optional geographic bounds and attribute filters. `bounds` and `filters` are both optional (`filters` defaults to `{}`); the body is validated and any bad member is a 400 naming it. `sort` applies to UNBOUNDED queries only: with `bounds`, rows come back in spatial-index order and the response says `sort_applied: false`. `total` is the exact number of matching parcels up to 10,000; beyond that it is 10,000 with `total_is_lower_bound: true`, and it is null if the count timed out (`total_status: \"timed_out\"`). Traffic-count columns are withheld until verified: they are returned as null with a `withhold_gate` block, and filters on them (minVpd, maxVpd, minVisibilityScore) are refused with 400 `filter_withheld`.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "bounds": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "north",
                      "south",
                      "east",
                      "west"
                    ],
                    "description": "Viewport in WGS84 degrees. north > south. west > east is an antimeridian-crossing box.",
                    "properties": {
                      "north": {
                        "type": "number",
                        "minimum": -90,
                        "maximum": 90,
                        "example": 35.85
                      },
                      "south": {
                        "type": "number",
                        "minimum": -90,
                        "maximum": 90,
                        "example": 35.75
                      },
                      "east": {
                        "type": "number",
                        "minimum": -180,
                        "maximum": 180,
                        "example": -78.55
                      },
                      "west": {
                        "type": "number",
                        "minimum": -180,
                        "maximum": 180,
                        "example": -78.7
                      }
                    }
                  },
                  "filters": {
                    "type": "object",
                    "additionalProperties": false,
                    "default": {},
                    "description": "All optional; null means not set. Unknown members are a 400.",
                    "properties": {
                      "zoningCategories": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "Residential",
                          "Commercial"
                        ],
                        "description": "Zoning categories (Residential, Commercial, Industrial, Mixed-Use, Agricultural, …). Unrecognised labels are reported in `zoning_categories_unrecognized`."
                      },
                      "ownerTypes": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "individual",
                            "llc",
                            "trust",
                            "corporation",
                            "government",
                            "religious",
                            "partnership",
                            "association",
                            "financial"
                          ]
                        },
                        "description": "Owner entity type (case-insensitive)."
                      },
                      "propertyType": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Property type group, e.g. Commercial, Residential."
                      },
                      "businessTypes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Business / use type, e.g. car_wash."
                      },
                      "absenteeOnly": {
                        "type": "boolean",
                        "default": false,
                        "description": "Only parcels whose owner state differs from the parcel state."
                      },
                      "soldWithin": {
                        "type": "string",
                        "enum": [
                          "6mo",
                          "1yr",
                          "3yr",
                          "never"
                        ]
                      },
                      "floodZone": {
                        "type": "string",
                        "example": "AE"
                      },
                      "valueRange": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "Assessed value range.",
                        "properties": {
                          "min": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 100000
                          },
                          "max": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 500000
                          }
                        }
                      },
                      "yearBuiltRange": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "Year built range.",
                        "properties": {
                          "min": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "example": 1990
                          },
                          "max": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "example": 2024
                          }
                        }
                      },
                      "acreageRange": {
                        "type": "object",
                        "additionalProperties": false,
                        "description": "Lot size range in acres.",
                        "properties": {
                          "min": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 0.5
                          },
                          "max": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "example": 10
                          }
                        }
                      },
                      "minYearsOwned": {
                        "type": "number",
                        "minimum": 0
                      },
                      "minCrimeScore": {
                        "type": "number",
                        "minimum": 0
                      },
                      "maxCrimeScore": {
                        "type": "number",
                        "minimum": 0
                      },
                      "crimeTrend": {
                        "type": "string"
                      },
                      "minVpd": {
                        "type": "number",
                        "description": "WITHHELD — refused with 400 filter_withheld until traffic counts are verified."
                      },
                      "maxVpd": {
                        "type": "number",
                        "description": "WITHHELD — refused with 400 filter_withheld."
                      },
                      "minVisibilityScore": {
                        "type": "number",
                        "description": "WITHHELD — refused with 400 filter_withheld."
                      }
                    }
                  },
                  "sort": {
                    "type": "string",
                    "enum": [
                      "assessed_value",
                      "sale_price",
                      "acreage",
                      "year_built",
                      "deal_score",
                      "address",
                      "city",
                      "state",
                      "owner_name",
                      "total_assessed_value",
                      "zoning",
                      "lot_size_acres",
                      "ownership_type"
                    ],
                    "example": "assessed_value",
                    "description": "Sort field (unbounded queries only). The first five are the primary names; the rest are accepted column names. A legacy `{field, direction}` object is also accepted."
                  },
                  "order": {
                    "type": "string",
                    "enum": [
                      "asc",
                      "desc"
                    ],
                    "default": "desc"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 500,
                    "default": 100,
                    "description": "Page size. Values above 500 are clamped to 500 (the response echoes the effective limit)."
                  },
                  "offset": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000,
                    "default": 0
                  }
                }
              },
              "example": {
                "bounds": {
                  "north": 35.215,
                  "south": 35.205,
                  "east": -80.855,
                  "west": -80.865
                },
                "filters": {
                  "valueRange": {
                    "min": 100000
                  }
                },
                "limit": 50
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "total",
                    "total_is_estimate",
                    "total_is_lower_bound",
                    "has_more",
                    "limit",
                    "offset",
                    "sort_applied"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Parcel"
                      }
                    },
                    "total": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "example": 37,
                      "description": "Exact matching count up to 10,000; 10,000 when capped; null when the count timed out."
                    },
                    "total_is_estimate": {
                      "type": "boolean",
                      "description": "True only when `total` is capped (a lower bound)."
                    },
                    "total_is_lower_bound": {
                      "type": "boolean"
                    },
                    "total_status": {
                      "type": "string",
                      "enum": [
                        "timed_out"
                      ],
                      "description": "Present when the count did not finish."
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "limit": {
                      "type": "integer",
                      "example": 100
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0
                    },
                    "sort_applied": {
                      "type": "boolean",
                      "description": "False when `bounds` was given (sort is not applied to bounded queries) or no sort was requested."
                    },
                    "withhold_gate": {
                      "type": "object",
                      "description": "Present when withheld columns (traffic counts) are in the rows; they are null.",
                      "additionalProperties": true
                    },
                    "zoning_categories_applied": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "zoning_categories_unrecognized": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "zoning_unknown_estimate": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "zoning_unknown_is_estimate": {
                      "type": "boolean"
                    },
                    "zoning_filter_note": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-sdk-group": "search",
        "x-sdk-method": "parcels",
        "x-sdk-pagination": {
          "style": "offset",
          "items": "data"
        }
      }
    },
    "/api/v1/coverage": {
      "get": {
        "operationId": "getCoverage",
        "summary": "Get coverage statistics",
        "description": "Retrieve parcel coverage statistics at the state or county level. API key optional: anonymous callers are rate-limited per IP; a present but invalid key is a 401; a valid key is rate-limited at its own tier and is not metered.",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "State FIPS code or abbreviation to filter coverage to a specific state and return county-level breakdown.",
            "schema": {
              "type": "string",
              "example": "37"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage data returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_parcels": {
                      "type": "integer",
                      "example": 180000000
                    },
                    "states_covered": {
                      "type": "integer",
                      "example": 50
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "state_fips": {
                            "type": "string",
                            "example": "37"
                          },
                          "state_name": {
                            "type": "string",
                            "example": "North Carolina"
                          },
                          "county_fips": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "37183"
                          },
                          "county_name": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "example": "Wake"
                          },
                          "parcel_count": {
                            "type": "integer",
                            "example": 450000
                          },
                          "geocoded_pct": {
                            "type": "number",
                            "format": "float",
                            "example": 92.5
                          },
                          "owner_pct": {
                            "type": "number",
                            "format": "float",
                            "example": 88.3
                          },
                          "value_pct": {
                            "type": "number",
                            "format": "float",
                            "example": 85.1
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-sdk-group": "coverage",
        "x-sdk-method": "get"
      }
    },
    "/api/v1/deals/absentee": {
      "get": {
        "operationId": "getAbsenteeOwners",
        "summary": "Find absentee owners",
        "description": "Retrieve parcels owned by absentee owners, useful for off-market deal sourcing.",
        "tags": [
          "Deals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "county_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "37183"
            },
            "description": "Filter by county FIPS code."
          },
          {
            "name": "state_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "37"
            },
            "description": "Filter by state FIPS code."
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 50000
            },
            "description": "Minimum assessed value."
          },
          {
            "name": "out_of_state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Only return owners whose mailing address is in a different state."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Absentee owner parcels returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Parcel"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-sdk-group": "deals",
        "x-sdk-method": "absentee",
        "x-sdk-pagination": {
          "style": "offset",
          "items": "data"
        }
      }
    },
    "/api/v1/deals/flips": {
      "get": {
        "operationId": "getFlips",
        "summary": "Find property flips",
        "description": "Retrieve recently flipped properties. Use ?view=flippers to get a ranked list of top flippers instead.",
        "tags": [
          "Deals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "county_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "37183"
            },
            "description": "Filter by county FIPS code."
          },
          {
            "name": "state_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "37"
            },
            "description": "Filter by state FIPS code."
          },
          {
            "name": "flip_tier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "QUICK_FLIP",
                "SHORT_HOLD",
                "MEDIUM_HOLD"
              ],
              "example": "QUICK_FLIP"
            },
            "description": "Filter by hold time between the two sales: QUICK_FLIP (< 180 days), SHORT_HOLD (180–364 days), MEDIUM_HOLD (365 days to 24 months). Case-insensitive. The former spellings quick / standard / long are accepted as deprecated aliases. Any other value is a 400."
          },
          {
            "name": "min_profit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 25000
            },
            "description": "Minimum estimated profit."
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "flippers"
              ]
            },
            "description": "Set to 'flippers' to return a ranked list of top flippers instead of individual flips."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flips or flippers returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "county_fips": {
                            "type": "string",
                            "example": "37183"
                          },
                          "parcel_id": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "buy_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "buy_price": {
                            "type": "number"
                          },
                          "sell_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "sell_price": {
                            "type": "number"
                          },
                          "profit": {
                            "type": "number"
                          },
                          "hold_days": {
                            "type": "integer"
                          },
                          "flip_tier": {
                            "type": "string",
                            "enum": [
                              "QUICK_FLIP",
                              "SHORT_HOLD",
                              "MEDIUM_HOLD"
                            ]
                          },
                          "buyer_name": {
                            "type": "string"
                          },
                          "seller_name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "x-sdk-group": "deals",
        "x-sdk-method": "flips",
        "x-sdk-pagination": {
          "style": "offset",
          "items": "data"
        }
      }
    },
    "/api/v1/market/counties": {
      "get": {
        "operationId": "getCountyMarketStats",
        "summary": "Get county market statistics",
        "description": "Retrieve real estate market statistics aggregated at the county level, including sale counts, median prices, and year-over-year changes. API key optional (county aggregates, no person-level fields): anonymous callers are rate-limited per IP at the free tier; a present but invalid key is a 401; keyed calls are metered.",
        "tags": [
          "Market"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "state_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "37"
            },
            "description": "Filter by state FIPS code."
          },
          {
            "name": "min_sales",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 50
            },
            "description": "Minimum number of sales in the period to include a county."
          },
          {
            "name": "quarter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2025Q4"
            },
            "description": "Exact quarter, e.g. 2025Q4; any other format is a 400."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "median_sale_price",
                "sale_count",
                "total_volume",
                "price_yoy_pct"
              ],
              "default": "total_volume"
            },
            "description": "Sort column. The former spellings median_price and yoy_change are accepted as deprecated aliases; any other value is a 400."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction (case-insensitive); any other value is a 400."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "County market stats returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "county_fips": {
                            "type": "string",
                            "example": "37183"
                          },
                          "county_name": {
                            "type": "string",
                            "example": "Wake"
                          },
                          "state_fips": {
                            "type": "string",
                            "example": "37"
                          },
                          "state_abbr": {
                            "type": "string",
                            "example": "NC"
                          },
                          "quarter": {
                            "type": "string",
                            "example": "2025Q4"
                          },
                          "sale_count": {
                            "type": "integer",
                            "example": 3200
                          },
                          "median_price": {
                            "type": "number",
                            "example": 385000
                          },
                          "avg_price": {
                            "type": "number",
                            "example": 425000
                          },
                          "yoy_change": {
                            "type": "number",
                            "format": "float",
                            "description": "Year-over-year median price change as a decimal (e.g., 0.05 = 5%).",
                            "example": 0.05
                          },
                          "avg_days_on_market": {
                            "type": "integer",
                            "example": 28
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "x-sdk-group": "market",
        "x-sdk-method": "counties",
        "x-sdk-pagination": {
          "style": "offset",
          "items": "data"
        }
      }
    },
    "/api/v1/market/trends": {
      "get": {
        "operationId": "getMarketTrends",
        "summary": "Get market trends",
        "description": "Retrieve quarterly time series of market metrics for one or more counties or a state. Requires an API key (or a signed-in session); metered.",
        "tags": [
          "Market"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "county_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "37183,37063"
            },
            "description": "Comma-separated list of county FIPS codes."
          },
          {
            "name": "state_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "37"
            },
            "description": "State FIPS code. Used if county_fips is not provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Market trend time series returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "county_fips": {
                            "type": "string",
                            "example": "37183"
                          },
                          "county_name": {
                            "type": "string",
                            "example": "Wake"
                          },
                          "quarters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "quarter": {
                                  "type": "string",
                                  "example": "2025Q4"
                                },
                                "sale_count": {
                                  "type": "integer",
                                  "example": 3200
                                },
                                "median_price": {
                                  "type": "number",
                                  "example": 385000
                                },
                                "avg_price": {
                                  "type": "number",
                                  "example": 425000
                                },
                                "yoy_change": {
                                  "type": "number",
                                  "format": "float",
                                  "example": 0.05
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "x-sdk-group": "market",
        "x-sdk-method": "trends"
      }
    },
    "/api/v1/owners/search": {
      "get": {
        "operationId": "searchOwners",
        "summary": "Search property owners",
        "description": "Search for property owners by name. Returns owner profiles with property counts and portfolio values.",
        "tags": [
          "Owners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BLACKROCK"
            },
            "description": "Search query for owner name."
          },
          {
            "name": "min_properties",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 5
            },
            "description": "Minimum number of properties owned."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owner search results returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Owner"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-sdk-group": "owners",
        "x-sdk-method": "search"
      }
    },
    "/api/v1/owners/{name}": {
      "get": {
        "operationId": "getOwnerProfile",
        "summary": "Get owner profile",
        "description": "Retrieve a specific owner profile by name, including property count, total assessed value, entity type, and states.",
        "tags": [
          "Owners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "MARKEY ENTERPRISES INC"
            },
            "description": "Owner name (URL-encoded)."
          }
        ],
        "responses": {
          "200": {
            "description": "Owner profile returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Owner"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "x-sdk-group": "owners",
        "x-sdk-method": "get"
      }
    },
    "/api/v1/owners/{name}/properties": {
      "get": {
        "operationId": "getOwnerProperties",
        "summary": "Get owner's properties",
        "description": "Retrieve the list of properties owned by a specific owner.",
        "tags": [
          "Owners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "MARKEY ENTERPRISES INC"
            },
            "description": "Owner name (URL-encoded)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owner properties returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Parcel"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "x-sdk-group": "owners",
        "x-sdk-method": "properties",
        "x-sdk-pagination": {
          "style": "offset",
          "items": "data"
        }
      }
    },
    "/api/v1/owners/{name}/portfolio": {
      "get": {
        "operationId": "getOwnerPortfolio",
        "summary": "Get owner portfolio summary",
        "description": "Retrieve an owner's portfolio with aggregated summary statistics and property breakdown.",
        "tags": [
          "Owners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "MARKEY ENTERPRISES INC"
            },
            "description": "Owner name (URL-encoded)."
          }
        ],
        "responses": {
          "200": {
            "description": "Owner portfolio returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "owner_name": {
                      "type": "string",
                      "example": "MARKEY ENTERPRISES INC"
                    },
                    "entity_type": {
                      "type": "string",
                      "enum": [
                        "individual",
                        "corporation",
                        "llc",
                        "trust",
                        "government",
                        "other"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "property_count": {
                          "type": "integer",
                          "example": 142
                        },
                        "total_assessed_value": {
                          "type": "number",
                          "example": 85000000
                        },
                        "avg_assessed_value": {
                          "type": "number",
                          "example": 598591
                        },
                        "states": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "NC",
                            "SC",
                            "GA",
                            "FL"
                          ]
                        },
                        "counties": {
                          "type": "integer",
                          "example": 23
                        },
                        "zoning_breakdown": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "integer"
                          },
                          "example": {
                            "residential": 80,
                            "commercial": 45,
                            "industrial": 17
                          }
                        }
                      }
                    },
                    "properties": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Parcel"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "owners",
        "x-sdk-method": "portfolio"
      }
    },
    "/api/v1/owners/{name}/report": {
      "get": {
        "operationId": "buyOwnerReport",
        "summary": "Owner intelligence report (paid, priced per resolution; account required) — with a free preview",
        "description": "The Machine Storefront's owner intelligence report: every parcel nationwide whose OWNER-OF-RECORD name matches one owner NAME's realistic spellings (or a public company TICKER's hand-curated entity list), deduped nationally and priced PER RESOLUTION.\n\nACCOUNT REQUIRED (every mode, including the free preview): an API key (`Authorization: Bearer pz_...`) or a signed-in session. Payment alone (an x402 `X-PAYMENT` header or a prepaid `X-CREDIT-TOKEN`) is not an account. An anonymous call is refused with HTTP 401, `code: \"account_required\"`, `reason: \"owner_lookup_requires_account\"`, before any read, payment verification or credit debit.\n\nMATCHING is spelling matching, NOT a verified corporate or beneficial-ownership link: different owners can share a spelling and some of one owner's spellings can be missed. Every property carries `match_basis` (exact_spelling = the record's owner name is the requested name after case/punctuation/whitespace normalization; variant = matched only through an expanded suffix/hyphen/N.A. spelling; ticker_curated = on the hand-curated ticker list) and `match_confidence: \"candidate\"`. The report carries: owner {query_name, ticker, entity_type, resolved_variants, match}, summary {count, total_assessed_value, total_acreage, states, by_state[]}, properties[] (each with match_basis, canonical_id, address, valuation, lot/building, last sale, property_type), and provenance {as_of, source}.\n\nPRICE: per resolution = clamp($1.75 x P(portfolio size) x V(portfolio value), $0.25, $20). P is log-scaled on the distinct parcel count the match uncovers (the dominant axis); V is log-scaled on the summed assessed value; a missing value floors V rather than raising the price. A match that uncovers zero parcels is returned free and never charged. The exact price is advertised in the 402's accepts[0].maxAmountRequired (USDC atomic units, 6 decimals).\n\nFREE PREVIEW: add preview=true for the summary (count, total value, states spanned, entity type), the exact price, and up to three MASKED sample properties (APN truncated to state:county, house number stripped). No payment; an account is still required.\n\nPAID ACCESS (preview omitted), for an authenticated account, requires ONE of: (a) x402 pay-per-call — send a base64 signed x402 PaymentPayload in the `X-PAYMENT` header alongside your credentials; on a successful build the full portfolio is returned and the on-chain settlement receipt is in the `X-PAYMENT-RESPONSE` response header. (b) A prepaid `X-CREDIT-TOKEN` balance. (c) A genuine PAID PropRaven subscription entitlement (owner reports are included). Being merely authenticated is NOT sufficient. (d) Anything else -> HTTP 402 whose `accepts` array carries the exact payment requirements for this resolution.",
        "tags": [
          "Owners"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BLACKSTONE REAL ESTATE"
            },
            "description": "Owner / entity name to resolve (URL-encoded)."
          },
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "WFC"
            },
            "description": "Optional public stock ticker; when it is on PropRaven's hand-curated list, that entity list is matched instead of expanding `name` (match_basis: ticker_curated — curated, not verified)."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "NC"
            },
            "description": "Optional 2-letter USPS code (or 2-digit FIPS) to scope the portfolio to one state."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            },
            "description": "Properties per page in the paid report (the summary always covers the FULL portfolio)."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset into the property list."
          },
          {
            "name": "preview",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "FREE try-before-buy: the summary, the exact price and three masked sample properties. No payment; an account (API key or session) is still required."
          },
          {
            "name": "X-PAYMENT",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Base64-encoded x402 PaymentPayload (EIP-3009 signed). Present it to pay per call for the full report."
          }
        ],
        "responses": {
          "200": {
            "description": "The owner report (paid or entitled), or — with preview=true — the free masked summary, or a free $0 empty result when the pierce uncovers nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "description": "Invalid owner name (unresolvable / too generic) or invalid state."
          },
          "402": {
            "description": "Payment required. accepts[0].maxAmountRequired carries this resolution's exact price (portfolio size x value, floor $0.25, cap $20) in USDC atomic units. Pay per call via x402, hold a paid PropRaven subscription, or re-call with preview=true for the free masked summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          },
          "401": {
            "description": "No account: an anonymous caller (including one presenting only an x402 X-PAYMENT header or an X-CREDIT-TOKEN) gets problem+json with code `account_required` and reason `owner_lookup_requires_account`; or a present-but-invalid API key."
          },
          "429": {
            "description": "Rate limited."
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-sdk-group": "owners",
        "x-sdk-method": "report"
      }
    },
    "/api/v1/deals/contractors": {
      "get": {
        "operationId": "searchContractors",
        "summary": "Search contractors by permit activity",
        "description": "Returns contractor profiles aggregated from 45M+ building permits. Each profile includes permit count, jurisdictions worked, total declared permit value, and activity dates. Use to identify active contractors in a market or find a specific contractor by name.",
        "tags": [
          "Deals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "SMITH CONSTRUCTION"
            },
            "description": "Contractor name search (case-insensitive substring)."
          },
          {
            "name": "min_permits",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 3,
              "minimum": 1
            },
            "description": "Minimum permit count to include."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "NC"
            },
            "description": "2-letter state filter."
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Minimum total declared permit value, USD."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            },
            "description": "Page size, max 500."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Pagination offset."
          }
        ],
        "responses": {
          "200": {
            "description": "Contractor profiles returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contractor"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "x-sdk-group": "deals",
        "x-sdk-method": "contractors",
        "x-sdk-pagination": {
          "style": "offset",
          "items": "data"
        }
      }
    },
    "/api/v1/deals/entities": {
      "get": {
        "operationId": "searchEntityOwnedParcels",
        "summary": "Find entity-owned parcels (LLC, Corp, Trust, LP)",
        "description": "Returns parcels owned by legal entities identified from owner-name pattern matching across 221M+ parcels. Pass `top=true` to get aggregated entity rankings instead of per-parcel rows. One of `county_fips`, `state_fips`, `search`, or `top` is required.",
        "tags": [
          "Deals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "county_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "37183"
            },
            "description": "5-digit county FIPS filter."
          },
          {
            "name": "state_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "37"
            },
            "description": "2-digit state FIPS filter."
          },
          {
            "name": "entity_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "LLC",
                "CORP",
                "TRUST",
                "LP",
                "LTD",
                "ASSOCIATION",
                "OTHER_ENTITY"
              ]
            },
            "description": "Filter by entity classification. Case-insensitive; any other value is a 400."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "BLACKSTONE"
            },
            "description": "Owner-name substring search."
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Minimum assessed value, USD."
          },
          {
            "name": "zoning",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Zoning substring filter."
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, returns aggregated entity rankings with summary stats instead of per-parcel rows."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            },
            "description": "Page size, max 500."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Pagination offset."
          }
        ],
        "responses": {
          "200": {
            "description": "Entity-owned parcels or top-entity aggregates returned. Shape varies with the `top` parameter.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EntityOwnedParcel"
                          }
                        },
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EntityAggregate"
                          }
                        },
                        "summary": {
                          "$ref": "#/components/schemas/EntitySummary"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of county_fips, state_fips, search, or top is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-sdk-group": "deals",
        "x-sdk-method": "entities",
        "x-sdk-pagination": {
          "style": "offset",
          "items": "data"
        }
      }
    },
    "/api/v1/deals/high-land-ratio": {
      "get": {
        "operationId": "getHighLandRatioParcels",
        "summary": "Find parcels with high land-to-improvement ratio",
        "description": "Returns parcels where land value significantly exceeds improvement value — a signal for redevelopment, teardown, or assemblage opportunities. `county_fips` or `state_fips` is required.",
        "tags": [
          "Deals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "county_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "5-digit county FIPS filter."
          },
          {
            "name": "state_fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "2-digit state FIPS filter."
          },
          {
            "name": "min_ratio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 3.0,
              "minimum": 1.0
            },
            "description": "Minimum land/improvement ratio."
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Minimum land assessed value, USD."
          },
          {
            "name": "zoning",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Zoning substring filter."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            },
            "description": "Page size, max 500."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Pagination offset."
          }
        ],
        "responses": {
          "200": {
            "description": "High land-to-improvement-ratio parcels returned.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HighLandRatioParcel"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Either county_fips or state_fips is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "x-sdk-group": "deals",
        "x-sdk-method": "highLandRatio",
        "x-sdk-pagination": {
          "style": "offset",
          "items": "data"
        }
      }
    },
    "/api/v1/deals/lenders": {
      "get": {
        "operationId": "searchLenders",
        "summary": "Search lender profiles",
        "description": "Returns lender profiles aggregated from deed/mortgage transactions. Includes mortgage count, total volume, geographic spread, and a national rank.",
        "tags": [
          "Deals"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "WELLS FARGO"
            },
            "description": "Lender name substring search."
          },
          {
            "name": "min_mortgages",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2
            },
            "description": "Minimum mortgage count."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "NC"
            },
            "description": "2-letter state filter."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            },
            "description": "Page size, max 500."
          },
          {
            "name": "offset",
[...]
